
$primary-color: #26001b;
$secondary-color: #810034;


$white-color: #ffd5e5;

$dark-grey: #ff005c;

$dark-blue-text: #ff005c;

$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
